@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    /* variables */

    /* colors */
    --color-primary: #000000;
    --color-contrast: #845EC2;
    --color-neutral-1: #16181C;
    --color-neutral-2: #16181C;
    --color-text-primary: white;
    /* sizes */
    --nav-bar-height: 3rem;
}